$font-family-default: "Nunito", sans-serif;
$extra-light-font: 200;
$light-font: 300;
$regular-font: 400;
$semi-bold-font: 600;
$bold-font: 700;
$extra-bold-font: 800;
$black-font: 900;
/**
* Grid
*/
$default-font-size: 8px;
$default-grid-size: 8px;
/**
* Colors
*/
$dark-grey: #302f2f;
$dark-orange: #d95e37;
$opaque-nav-light: #82808033;
$dim-white: #e5dedf;
$dark-yellow: #ffd357
